<div class="max-w-[70vw] m-auto h-screen py-5">
  <table class="text-gray-700 border-separate border-spacing-y-6">
    <thead>
      <tr>
        <th></th>
        <th class="font-normal text-sm">商品</th>
        <th class="font-normal text-sm">單價</th>
        <th class="font-normal text-sm">數量</th>
        <th class="font-normal text-sm">小計</th>
        <th class="min-w-[32px]"></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.items.each do |cart_item| %>
        <tr class=" bg-white max-w-3xl" data-controller="cart">
          <td data-name="image" class="p-2 min-w-[80px] w-[14%]"><%= image_tag cart_item.product.image_url || "product_holder.svg" %></td>
          <td data-name="name" class="p-4 w-[38%] align-baseline"><%= cart_item.product.name %></td>
          <td data-name="price" class="p-2 w-[15%]"><%= number_to_currency(cart_item.product.price, unit: "NT$ ", precision: 0) %></td>
          <td data-name="amount" class="p-2 w-[17%] select-none">
            <div class="flex items-center">
              <span class="ml-3 inline-block bg-gray-300 text-gray-700 w-7 h-7 cursor-pointer text-center" data-action="click->cart#decrementItem">-</span><%= number_field_tag :amount, cart_item.amount, in: 1..cart_item.product.available_count, autocomplete: "off", readonly: true, class: "text-center outline-none min-w-[28px] max-h-[28px] border border-gray-400 p-[2px]", data: { "cart-target": "amount" } %><span class="inline-block bg-gray-300 text-gray-700 w-7 h-7 cursor-pointer text-center" data-action="click->cart#incrementItem">+</span>
            </div>
          </td>
          <td data-name="subtotal" class="p-2 w-[15%]"><%= number_to_currency(cart_item.product.price * cart_item.amount, unit: "NT$ ", precision: 0) %></td>
          <td class="pr-4 min-w-[72px]"><%= link_to(image_tag("bin.svg"), "#", data: { action: "cart" }, class: "inline-block w-8") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr class="border-gray-500 m-4">
</div>
