<div class="form-comtainer flex flex-col justify-center items-center bg-white w-[30rem] min-h-[30rem] ">
  <div class="logo p-4">
    <h1 class="text-primary text-center text-4xl font-bold">COFFEEYA</h1>
  </div>
  <%= turbo_frame_tag "form_flash", class: "w-full" do %>
    <%= render "shared/forms/form_flash" %>
  <% end %>
  <div class="form flex flex-col justify-center items-center">
    <span class="my-4 text-md">註冊 Coffeeya 帳號</span>
    <%= form_with(model: @user, url: user_registration_path, data: { controller: "form", turbo_frame: "modal" }, class: "w-80") do |f| %>
      <div class="field">
        <%= f.email_field :email, data: { action: "input->form#updateEditing" }, required: true, placeholder: "Coffeeya 帳號", autofocus: true, autocomplete: "email", class: "w-full text-gray-500 outline-none py-2 px-4 border-solid border-[1px] border-gray-300 rounded-sm" %>
      </div>
      <div class="field">
        <%= f.password_field :password, data: { action: "input->form#updateEditing" }, required: true, placeholder: "密碼", autocomplete: "new-password", class: "mt-4 w-full text-gray-500 outline-none py-2 px-4 border-solid border-[1px] border-gray-300 rounded-sm" %>
        <% if @minimum_password_length %>
          <em>最短長度為 <%= @minimum_password_length %> 字元</em>
        <% end %><br>
      </div>
      <div class="field">
        <%= f.password_field :password_confirmation, data: { action: "input->form#updateEditing" }, required: true, placeholder: "確認密碼", autocomplete: "new-password", class: "my-4 w-full text-gray-500 outline-none py-2 px-4 border-solid border-[1px] border-gray-300 rounded-sm" %>
      </div>
      <div class="actions">
        <%= f.submit "註冊", data: { target: "form.submit" }, class: "disabled:bg-gray-100 disabled:text-gray-400 disabled:cursor-not-allowed bg-slate-300 text-slate-600 py-3 w-full cursor-pointer rounded-sm", disabled: "disabled" %>
      </div>
    <% end %>
  </div>
  <div>
    <p class="py-2">已經有帳號？<%= link_to "立刻登入", new_user_session_path, data: { turbo_frame: "modal" } ,class: "text-accent hover:text-primary" %></p>
  </div>
</div>
