<div class="relative min-w-screen flex flex-col justify-start items-center">
  <h1 class="text-gray-700 mt-10">Orders</h1>
  <table class="my-8 w-2/3">
    <thead>
      <tr class="h-10 text-slate-500 uppercase">
        <th><%= t("models.orders.created_at") %></th>
        <th><%= t("models.orders.payment_type") %></th>
        <th><%= t("models.orders.amount") %></th>
        <th><%= t("models.orders.currency") %></th>
        <th><%= t("models.orders.status") %></th>
        <th><%= t("models.orders.id") %></th>
      </tr>
    </thead>
    <tbody>
      <% @orders&.each do |order| %>
        <tr onclick="window.open('<%= order_path(order) %>', '_blank')" class="cursor-pointer hover:bg-slate-300 h-10 border-b border-b-gray-300 first:border-t first:border-t-gray-300 text-gray-700">
          <td class="text-center"><%= order.created_at %></td>
          <td class="text-center"><%= order.payment_type %></td>
          <td class="text-center font-semibold"><%= number_to_currency(order.payment&.amount, delimiter: ',') %></td>
          <td class="text-center"><%= order.payment&.currency&.upcase %></td>
          <% case order.status %>
          <% when "pending" %>
          <td class="text-center"><span class="rounded-md px-2 py-1 bg-[#fbf0b7] text-[#c2b159]"><%= t("views.orders.statuses.pending") %></span></td>
          <% when "completed" %>
          <td class="text-center"><span class="rounded-md px-2 py-1 bg-[#b3f6ae] text-[#2a6326]"><%= t("views.orders.statuses.completed") %></span></td>
          <% when "canceled" %>
          <td class="text-center"><span class="rounded-md px-2 py-1 bg-gray-300 text-gray-600"><%= t("views.orders.statuses.canceled") %></span></td>
          <% when "failed" %>
          <td class="text-center"><span class="rounded-md px-2 py-1 bg-[#f0b8b7] text-[#9e2523]"><%= t("views.orders.statuses.failed") %></span></td>
        <% end %>
        <td class="group relative text-center">
          ID
          <span class="z-20 absolute text-white hidden group-hover:block bg-slate-500 p-2"><%= order.id %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
