<tr id="<%= dom_id(cart_item) %>" class="bg-white max-w-3xl shadow-sm" data-controller="cart">
  <td data-name="image" class="p-2 min-w-[80px] w-[14%]"><%= image_tag product.image_url || "product_holder.svg" %></td>
  <td data-name="name" class="p-4 w-[38%] align-baseline"><%= link_to product.name, product_path(product), class: "hover:underline" %></td>
  <td data-name="price" class="p-2 w-[15%]"><%= number_to_currency(product.price, unit: "NT$ ", precision: 0) %></td>
  <td data-name="amount" class="p-2 w-[17%] select-none">
    <div class="flex items-center">
      <%= button_tag "-", type: "button", disabled: cart_item.amount == 1, data: { action: "click->cart#decrementItem", "cart-target": "decrement" }, class: "inline-block bg-gray-300 text-gray-700 w-7 h-7 cursor-pointer text-center disabled:opacity-70" %>
      <%= number_field_tag :amount, cart_item.amount, in: 1..product.available_count,
         autocomplete: "off", readonly: true, name: "cart_items[#{cart_item.id}][amount]",
         class: "text-center outline-none min-w-[28px] max-h-[28px] border border-gray-400 p-[2px] disabled:bg-gray-400",
         data: { "cart-target": "amount" } %>
        <%= button_tag "+", type: "button", disabled: product.available_count == cart_item.amount, data: { action: "click->cart#incrementItem", "cart-target": "increment" }, class: "inline-block bg-gray-300 text-gray-700 w-7 h-7 cursor-pointer text-center disabled:opacity-70" %>
    </div>
  </td>
  <td data-name="subtotal" class="p-2 w-[15%]"><%= number_to_currency(product.price * cart_item.amount, unit: "NT$ ", precision: 0) %></td>
  <td class="pr-4 min-w-[72px]">
    <%= link_to(image_tag("bin.svg"), cart_item_path(cart_item), data: { turbo_method: "delete", turbo_confirm: "真的要刪除嗎？", action: "cart" }, id: "remove_#{cart_item.id}", class: "inline-block w-8") %>
  </td>
</tr>
