<%= turbo_frame_tag product, class: "max-w-[284px] border-solid border-[1px] border-gray-300 rounded-lg p-4 shadow-md" do %>
  <%= link_to product_path(product), data: { turbo: false } do %>
    <%= image_tag product.image_url || "product_holder.svg", class: "w-[256px]" %>
    <div class="info">
      <h2 class="m-1"><%= product.name %></h2>
      <span class="inline mt-1 px-2 py-1 text-xs rounded-lg bg-gray-300">淺培</span>
    </div>
  <% end %>
  <div class="flex flex-col justify-end items-end mt-4">
    <h1 class="font-sans text-2xl text-right font-bold mt-5"><%= number_to_currency product.price, unit: "NT$", precision: 0 %></h1>
    <%= button_to "加入購物車", cart_items_path(product_id: product.id), method: :post, class: "p-2 text-sm rounded-md bg-gray-300 hover:opacity-75 bg-primary" %>
  </div>
<% end %>
