<!DOCTYPE html>
<html class="m-0">
  <head>
    <title>Coffya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-screen bg-nav">
    <%= render "shared/header" %>
    <%= turbo_frame_tag "flash_messages" do %>
      <%= render "shared/flash" %>
    <% end %>
    <%= turbo_frame_tag "sign_in_modal" %>
    <main class="bg-white">
      <%= yield %>
    </main>
  </body>
</html>
