<!DOCTYPE html>
<html class="m-0">
  <head>
    <title>Coffeeya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-screen bg-nav">
    <%= turbo_frame_tag "header" do %>
      <%= render "shared/header" %>
    <% end %>
    <main class="bg-white min-h-[calc(100%-96px)]">
      <%= yield %>
    </main>
  </body>
</html>
