<!DOCTYPE html>
<html class="m-0">
  <head>
    <title>Coffya</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="h-screen">
    <%= render "shared/header" %>
    <% if notice %>
      <span class="notice animate-fade-in-out border-solid border-[1px] border-border p-2 text-center bg-flash text-success rounded-lg absolute left-1/2 -translate-x-1/2"><%= notice %></span>
    <% end %>
    <% if alert %>
      <span class="alert border-solid border-[1px] border-border p-2 text-center bg-flash text-alert rounded-lg absolute left-1/2 -translate-x-1/2"><%= alert %></span>
    <% end %>
    <%= yield %>
  </body>
</html>
